<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kirin.cs2340">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB4r3Zqs4NKggOwx_4soClOHgkzYVZd-Mk" />

        <activity android:name=".Controller.MainActivity">
            <uses-library android:name="com.google.android.maps" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Controller.WelcomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Controller.RegistrationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Controller.EditActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Controller.WaterSourceReportActivity"
            android:label="cs2340" />
        <activity
            android:name=".Controller.ForgotPasswordActivity"
            android:label="cs2340" />
        <activity
            android:name=".Controller.ChangePasswordActivity"
            android:label="cs2340" />
        <activity
            android:name=".Controller.ViewSourceActivity"
            android:label="cs2340" />
        <activity
            android:name=".Controller.SubmitQualityActivity"
            android:label="cs2340" />
        <activity
            android:name=".Controller.ViewQualityActivity"
            android:label="cs2340" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>